<body class="body">

    <h4 class="head">Top News </h4>
<div class="container-fluid mt-5">
    <div class="row">
        <div *ngFor="let a of topnewsDisplay" class="col-lg-3">
            <div class="box">
                <img src="{{a.urlToImage}}" width="100%">
            <h6>{{a.title}}</h6>
            <!--<p>{{a.content}}</p>-->
            <a href="{{a.url}}" class="btn">Read More</a>
            </div>
            
        </div>
    </div>
</div>
</body>
<footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/"> NewsReader.com</a>
    </div>
  
  </footer>